# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
dist/

# Virtual environment
.venv/ 
env/ 

# PyInstaller
*.manifest
*.spec


# Environments (VS Code, etc.)
.env
.vscode/

# OS or Editor Temp Files
.DS_Store # macOS
Thumbs.db # Windows
tmp/

# Log files
*.log

# Configuration files (if they contain sensitive data)
config.ini
secrets.json
.aider*
config.json
.opencode/

# App specific
projects/

